@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

#root, body, html, .App {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f0f8ff;
}

.App {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none
}

button {
  outline: unset;
  border: none;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

h1 {
  text-align: center;
}

main {
  width: 960px;
  margin: 0 auto;
  flex: 1 0 auto;
}